<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Glyph Studio | Home</title>
  <link rel="stylesheet" href="../static/css/preloader.css">
</head>
<body>
<div class="preloadPlaceholder">
  <div class="main-loader">
    <span>
        <div></div>
            <h2 style="-webkit-background-clip: text;">蚁群算法</h2>
        <div>
            <span></span>
        </div>
        <div class="go">
          <a href="../canvas">Let's Go!</a>
        </div>
    </span>
  </div>
</div>


</body>

</html>
